:root{
    /* couleur de fond de la barre de navigation */
    --bs-header-dark-bg:#023047;
    /* couleur des texte de la barre de navigation */
    --bs-menu-dark-item-color:#ffffff;
    /* couleur de fond du footer */
    --bs-footer-bg:#023047;
    /* couleur des textes du footer */
    /* --bs-footer-text-color:#ffffff; */
    --bs-footer-color:#ffffff;
    /* couleur des textes dans le dropdown*/
     --bs-menu-item-color:#7b8190;

     --bs-navbar-hover-color:var(--bs-footer-bg);

}
.custom-card{
    margin: auto;
    width: 60%;
}

.custom-footer {
    background:#023047;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
}

/* Arriere plan de la page de connexion */

.bg-overlay-gradient{
  /* background: radial-gradient(at 50% -20%, #3f1e59, #311748) fixed; */
  background: #fcb43c;
}

/* Parametrer la couleur de fond et du texte des boutons */
.btn-primary{
    background-color: #244c74;
}

/* Pour modifier la hauteur de la barre de navigation
app.min.css
.navbar-header{
    height: ?;
}
*/

/* Pour modifier la hauteur du footer
app.min.css
.footer{
    height: ?;
}
*/

/* 
Nom de l'entreprise parametrable dans le fichier .env  {{env('SOCIETY_NAME')}}*/


